.body {
    position: relative;
}

.hamburger-menu {
    position: absolute;
}

.shop-detail img {
    width: 570px;
    margin-bottom: 10px;
}

.shop-detail-flex {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 6rem;
    padding-top: 75px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shop-detail {
    width: 570px;
}

.edit-content {
    width: 570px;
    height: 650px;
    background-color: #3561F6;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding-top: 15px;
}

.edit-content h2 {
    margin-top: 30px;
    margin-left: 30px;
}

.update-button {
    background-color: #2B3FF5;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
}

.form {
    margin-top: 38px;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
}

.form-label {
    margin-bottom: 5px;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.form-control {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
}

.form-group textarea {
    width: 100%;
    max-width: 400px;
    height: 150px;
}